// colors
$side-bg: #040B14;
$icon-bg: #212431;
$blue: #149DDD;
$title-c: #173B6C;
$blue-t: #122f57;
$sec-bg: #F5F8FD;
$border-c: #ced4da;
$grey-t: #999;
$link-c: #a8a9b4;
$dark-t: #111;
$main-t: #272829;
$white: #fff;

// family
$family: "Raleway", sans-serif;